.main-screen,
.main-screen * {
  box-sizing: border-box;
}
.main-screen {
  background: linear-gradient(to left, #ffffff, #ffffff);
  height: 852px;
  position: relative;
  overflow: hidden;
}

.main-screen {
  width: 393px;
  height: 852px;
  background: #fff;
  border-radius: 32px;
  position: relative;   /* VERY IMPORTANT */
  overflow: hidden;
}



.device-device-frame {
  background: var(--m3-white, #ffffff);
  border-radius: 18px;
  border-style: solid;
  border-color: rgba(116, 119, 117, 0.5);
  border-width: 8px;
  width: 393px;
  height: 852px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.device-device-frame-components-status-bar {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 52px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.time {
  color: var(--m3-ref-neutral-neutral10, #1d1b20);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-icons {
  flex-shrink: 0;
  width: 46px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.camera-cutout {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 18px;
  overflow: visible;
}
.device-device-frame-components-navigation {
  height: 28px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.home {
  background: var(--m3-ref-neutral-neutral10, #1d1b20);
  border-radius: 8px;
  width: 72px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
  top: 18px;
}
.card-buttons {
  background: #ffc091;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 316px;
  position: absolute;
  left: 39px;
  top: 208px;
}
.frame-51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 176px;
  height: 176px;
  position: relative;
}
.frame-50 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._45-84 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 59.117645263671875px;
  line-height: 67px;
  letter-spacing: -0.025em;
  font-weight: 600;
  position: absolute;
  left: 120px;
  top: 287px;
}
.europe {
  border-radius: 375px;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 62px;
  top: 239px;
  overflow: hidden;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bottom-nav-icons {
  display: flex;
  flex-direction: column;
  gap: 4.26px;
  align-items: center;
  justify-content: flex-start;
  width: 49px;
  position: absolute;
  left: 53px;
  top: 798px;
}
.home2 {
  color: var(--interactive-colours-interactive-primary, #163300);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12.782608032226562px;
  line-height: 23.43px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: relative;
}
.vector {
  width: 8.91%;
  height: 4.11%;
  position: absolute;
  right: 75.83%;
  left: 15.27%;
  bottom: 6.57%;
  top: 89.32%;
  overflow: visible;
}
.country-options {
  background: #a0e1e1;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 101px;
  position: absolute;
  left: 146px;
  top: 354px;
}
.gbp {
  color: var(--content-primary, #0e0f0c);
  text-align: left;
  font-family: var(--body-large-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-large-font-size, 16px);
  line-height: var(--body-large-line-height, 24px);
  letter-spacing: var(--body-large-letter-spacing, -0.005em);
  font-weight: var(--body-large-font-weight, 400);
  position: relative;
}
.british {
  color: var(--content-secondary, #454745);
  text-align: left;
  font-family: var(--body-default-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-default-font-size, 14px);
  line-height: var(--body-default-line-height, 22px);
  letter-spacing: var(--body-default-letter-spacing, 0.01em);
  font-weight: var(--body-default-font-weight, 400);
  position: relative;
}
._3-d-avatars-26 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 273px;
  top: 92px;
}
.avatars-3-d-avatar-26 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.hi-bob {
  color: #000000;
  text-align: left;
  font-family: var(--title-screen-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-screen-font-size, 30px);
  line-height: var(--title-screen-line-height, 34px);
  letter-spacing: var(--title-screen-letter-spacing, -0.025em);
  font-weight: var(--title-screen-font-weight, 600);
  position: absolute;
  left: 45px;
  top: 167px;
}
.limits {
  color: #000000;
  text-align: left;
  font-family: var(--title-section-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-section-font-size, 26px);
  line-height: var(--title-section-line-height, 32px);
  letter-spacing: var(--title-section-letter-spacing, -0.015em);
  font-weight: var(--title-section-font-weight, 600);
  position: absolute;
  left: 45px;
  top: 446px;
}
.savings {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 292px;
  top: 761px;
  overflow: visible;
}
.history {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 292px;
  top: 761px;
  overflow: visible;
}
.home3 {
  color: var(--interactive-colours-interactive-primary, #163300);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12.782608032226562px;
  line-height: 23.43px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: absolute;
  left: 179px;
  top: 802px;
}
.savings2 {
  color: var(--interactive-colours-interactive-primary, #163300);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12.782608032226562px;
  line-height: 23.43px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: absolute;
  left: 289px;
  top: 802px;
}
.home4 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 178px;
  top: 761px;
  overflow: visible;
}
.card-buttons2 {
  background: #ffd7ef;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 316px;
  height: 237px;
  position: absolute;
  left: 40px;
  top: 485px;
}
.progress-bar-type-1-error {
  background: #ffd7ef;
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 282px;
  height: 60px;
  position: absolute;
  left: 60px;
  top: 639px;
}
.icons {
  background: var(--status-error, #da1e28);
  border-radius: 64px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icons2 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.close-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.info-indicator {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.information {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._45-79-50-eur {
  color: var(--neutral-gray-90, #262626);
  text-align: center;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
}
.status {
  padding: 0px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 75px;
  height: 19px;
  position: relative;
}
.progress-indicatior {
  background: #3a341c;
  border-radius: 64px;
  padding: 0px 77px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 8px;
  position: relative;
  overflow: hidden;
}
.indicator {
  background: var(--status-error, #da1e28);
  border-radius: 64px;
  align-self: stretch;
  flex-shrink: 0;
  width: 136px;
  position: relative;
}
.daily {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-subsection-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--title-subsection-font-size, 22px);
  line-height: var(--title-subsection-line-height, 28px);
  letter-spacing: var(--title-subsection-letter-spacing, -0.015em);
  font-weight: var(--title-subsection-font-weight, 600);
  position: absolute;
  left: 56px;
  top: 508px;
}
.monthly {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-subsection-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--title-subsection-font-size, 22px);
  line-height: var(--title-subsection-line-height, 28px);
  letter-spacing: var(--title-subsection-letter-spacing, -0.015em);
  font-weight: var(--title-subsection-font-weight, 600);
  position: absolute;
  left: 53px;
  top: 604px;
}
.progress-bar-type-1-warning {
  background: #ffd7ef;
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 291px;
  height: 58px;
  position: absolute;
  left: 57px;
  top: 543px;
}
.icons3 {
  background: var(--status-warning, #f1c21b);
  border-radius: 64px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.info-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.info-indicator2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 195px;
  position: relative;
}
.information2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 36px;
  position: relative;
}
._12-41-eur {
  color: var(--neutral-gray-90, #262626);
  text-align: center;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
}
.progress-indicatior2 {
  background: #3a341c;
  border-radius: 64px;
  padding: 0px 116px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 8px;
  position: relative;
  overflow: hidden;
}
.indicator2 {
  background: #edc843;
  border-radius: 64px;
  align-self: stretch;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}




/* Bottom navigation bar container */
.bottom-nav {
  position: absolute;
  bottom: 0;         /* <-- attaches to bottom of phone screen */
  left: 0;
  width: 100%;
  height: 90px;

  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid rgba(0,0,0,0.1);
  z-index: 10;       /* ensures it stays above content */
}


/* Each icon+label */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icon style */
.nav-icon {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

/* Label under icon */
.nav-label {
  margin-top: 4px;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13px;
  color: #163300;
  text-align: center;
}

.bottom-nav a {
    text-decoration: none;
    color: inherit;
}