.goal-jar-tree-view,
.goal-jar-tree-view * {
  box-sizing: border-box;
}
.goal-jar-tree-view {
  background: #ffffff;
  height: 852px;
  position: relative;
  overflow: hidden;
}
.device-device-frame {
  background: var(--m3-white, #ffffff);
  border-radius: 18px;
  border-style: solid;
  border-color: rgba(116, 119, 117, 0.5);
  border-width: 8px;
  width: 393px;
  height: 852px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.device-device-frame-components-status-bar {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 52px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.time {
  color: var(--m3-ref-neutral-neutral10, #1d1b20);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-icons {
  flex-shrink: 0;
  width: 46px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.camera-cutout {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 18px;
  overflow: visible;
}
.device-device-frame-components-navigation {
  height: 28px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.home {
  background: var(--m3-ref-neutral-neutral10, #1d1b20);
  border-radius: 8px;
  width: 72px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
  top: 18px;
}
.image-1 {
  width: 275px;
  height: 335px;
  position: absolute;
  left: 56px;
  top: 399px;
  object-fit: cover;
  aspect-ratio: 275/335;
}
.chip-button {
  background: #9fe870;
  border-radius: 157.41px;
  padding: 7.87px 25.19px 7.87px 25.19px;
  display: flex;
  flex-direction: row;
  gap: 6.3px;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 49px;
  position: absolute;
  left: 32px;
  top: 210px;
}
.all {
  color: var(--content-link-default, #163300);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22.037038803100586px;
  line-height: 34.63px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: relative;
}
.chip-button2 {
  background: #9fe870;
  border-radius: 156.25px;
  padding: 7.81px 25px 7.81px 25px;
  display: flex;
  flex-direction: row;
  gap: 6.25px;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 49px;
  position: absolute;
  left: 149px;
  top: 210px;
}
.all2 {
  color: var(--content-link-default, #163300);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 21.875px;
  line-height: 34.38px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: relative;
}
.chip-button3 {
  background: #9fe870;
  border-radius: 156.25px;
  padding: 7.81px 25px 7.81px 25px;
  display: flex;
  flex-direction: row;
  gap: 6.25px;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 49px;
  position: absolute;
  left: 267px;
  top: 210px;
}
.button {
  background: #ffc091;
  border-radius: 18.23px;
  width: 350px;
  height: 109px;
  position: absolute;
  left: 19px;
  top: 78px;
}
.div {
  background: rgba(0, 0, 0, 0);
  width: 373.52px;
  height: 59px;
  position: absolute;
  left: 10px;
  top: 15px;
}
.div2 {
  background: rgba(0, 0, 0, 0);
  width: 311.38px;
  height: 113px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div3 {
  background: rgba(0, 0, 0, 0);
  width: 76.31px;
  height: 61.74px;
  position: absolute;
  left: 22px;
  top: 12px;
}
.div4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55.55833053588867px;
  font-weight: 400;
  position: absolute;
  left: 9.26px;
  top: 0px;
}
.div5 {
  background: rgba(0, 0, 0, 0);
  width: 159.71px;
  height: 74.08px;
  position: absolute;
  left: 124px;
  top: 6px;
}
.div6 {
  background: rgba(0, 0, 0, 0);
  width: 159.71px;
  height: 43.22px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.art-supplies {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 27px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 159.71px;
}
.div7 {
  background: rgba(0, 0, 0, 0);
  width: 159.71px;
  height: 30.86px;
  position: absolute;
  left: 0px;
  top: 43.22px;
}
.div8 {
  background: rgba(0, 0, 0, 0);
  width: 72.9px;
  height: 60.63px;
  position: absolute;
  left: 124px;
  top: -2px;
}
._0 {
  color: #1f2937;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 50.52083206176758px;
  font-weight: 600;
  position: absolute;
  left: 1.63px;
  top: 0px;
}
.primary-button {
  background: #edc843;
  border-radius: 181.25px;
  padding: 21.75px 43.5px 21.75px 43.5px;
  display: flex;
  flex-direction: row;
  gap: 7.25px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 78px;
  top: 291px;
}
.next {
  color: var(--interactive-control-default, #163300);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 29px;
  line-height: 43.5px;
  letter-spacing: 0.005em;
  font-weight: 600;
  position: relative;
}
.bottom-nav-icons {
  display: flex;
  flex-direction: column;
  gap: 4.26px;
  align-items: center;
  justify-content: flex-start;
  width: 49px;
  position: absolute;
  left: 54px;
  top: 800px;
}
.home2 {
  color: var(--interactive-colours-interactive-primary, #163300);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12.782608032226562px;
  line-height: 23.43px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: relative;
}
.vector {
  width: 8.91%;
  height: 4.11%;
  position: absolute;
  right: 75.57%;
  left: 15.52%;
  bottom: 6.34%;
  top: 89.55%;
  overflow: visible;
}
.savings {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 293px;
  top: 756px;
  overflow: visible;
}
.home3 {
  color: var(--interactive-colours-interactive-primary, #163300);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12.782608032226562px;
  line-height: 23.43px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: absolute;
  left: 176px;
  top: 800px;
}
.savings2 {
  color: var(--interactive-colours-interactive-primary, #163300);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12.782608032226562px;
  line-height: 23.43px;
  letter-spacing: 0.0125em;
  font-weight: 600;
  position: absolute;
  left: 290px;
  top: 800px;
}
.home4 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 175px;
  top: 759px;
  overflow: visible;
}
